In [1]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\pc\anaconda3\lib\site-packages (1.0.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\pc\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pc\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import csv

In [2]:
# Here we automate data loading into MySQL //https://www.youtube.com/watch?v=k3SzhjBqWMY
import pandas as pd;
import csv
import sys
from pymysql import connect;

In [3]:
# Connect to the database system
database= connect (host= 'localhost',
                   user= 'root',
                   password= 'ensulb99E**'
)

# Define a cursor (Permet de definir un emplacement pour effectuer une manipulation ds la DB)
cur = database.cursor() # creons notre cursor/emplacement ds la db

query = 'show databases'
cur.execute(query) # allons ds l'emplacement et executons la query
databases = cur.fetchall() # prenons tout ce qui se trouve ds l'emplacement

#iterate through all the databases
for data in databases:
    print(data)

('bdprojecct',)
('db22',)
('db_hospital',)
('dbetl',)
('infoh400',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [4]:
# What if we want a specifique database
# Connect to the database
database1= connect (host= 'localhost',
                   user= 'root',
                   password= 'ensulb99E**',
                   database = 'db22'
)

cur =  database1.cursor()
query = 'show tables'
cur.execute(query) 
tables = cur.fetchall() 


for data in tables:
    print(data)

('csvtable',)
('persons',)
('students',)

In [5]:
query = 'select * from Students'
cur.execute(query)
table_contents = cur.fetchall()

for data in table_contents:
    print(data)

('Alpha', 11)
('Alpha', 11)
('Beta', 12)
('gamma', 13)
('allo', 15)
('gamm1', 16)
('alloa', 125)
('elle', 18)

In [6]:
#convert the table into a DF
datafram = pd.read_sql(query, database1)
display(datafram)

C:\Users\pc\AppData\Local\Temp\ipykernel_4180\2453831931.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  datafram = pd.read_sql(query, database1)

    Name  Matricule
0  Alpha         11
1  Alpha         11
2   Beta         12
3  gamma         13
4   allo         15
5  gamm1         16
6  alloa        125
7   elle         18

In [9]:
# How to push a DF into MySQL
DFdata = pd.read_csv('datatest.csv', header=0)
DFdata

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,3/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,3/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,3/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,3/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,3/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
5,6,3/25/2021,Titos,Braybrooke,tbraybrooke5@umn.edu,Female,173.100.21.179,United States,$5.82,NaN
6,7,3/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,$6.29,NaN
7,8,3/8/2021,Codi,Feasley,cfeasley7@ed.gov,Male,26.190.191.249,France,$3.01,20.0
8,9,3/9/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,$3.70,20.0
9,10,3/23/2021,Guglielma,Gookes,ggookes9@amazon.co.uk,Male,169.100.6.0,France,$9.05,NaN
10,11,3/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,3/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,3/5/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,3/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0
14,15,3/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,$4.53,20.0
15,16,3/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,$4.10,20.0
16,17,3/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,$6.44,20.0
17,18,3/20/2021,Esta,Boulden,ebouldenh@posterous.com,NaN,220.109.140.190,United States,$3.16,20.0
18,19,3/16/2021,Judye,Behan,jbehani@google.es,Female,27.196.2.18,France,$4.90,20.0
19,20,3/1/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,$5.82,20.0
20,21,3/12/2021,Jeffrey,Stanman,jstanmank@latimes.com,Female,3.110.64.192,France,$5.55,20.0
21,22,3/5/2021,Mendie,Ayer,mayerl@squarespace.com,Male,166.97.124.52,Canada,$4.86,20.0
22,23,3/3/2021,Muriel,Pexton,mpextonm@bing.com,Male,113.10.187.192,Canada,$6.72,20.0
23,24,3/9/2021,Ermanno,Ghost,eghostn@webnode.com,Male,144.170.210.226,Canada,$9.79,0.0
24,25,3/2/2021,Tod,Willets,twilletso@artisteer.com,Male,101.42.146.88,Canada,$8.23,0.0
25,26,3/14/2021,Nobe,Stobbart,nstobbartp@php.net,Female,126.155.177.249,United States,$9.90,0.0
26,27,3/27/2021,Elyse,Glaysher,eglaysherq@mayoclinic.com,NaN,165.91.52.42,United States,$5.88,0.0
27,28,3/25/2021,Staford,London,slondonr@sphinn.com,Male,247.235.26.222,United States,$3.06,20.0
28,29,3/3/2021,Willabella,Robbins,wrobbinss@tinyurl.com,Female,129.71.210.8,NaN,$9.52,20.0
29,30,3/2/2021,Edi,Petru,epetrut@census.gov,Male,117.48.20.14,United States,$6.76,20.0

In [63]:
DFdata1=DFdata.fillna(0.0)

In [64]:
for row in DFdata1:
    print(row)

id
date
first_name
last_name
email
gender
ip_address
country
price_paid
tax

In [65]:
DFdata1.shape

(30, 10)

In [66]:
len(DFdata1)

30

In [67]:
DFdata1.to_csv('clean_datatest.csv',index=False)

In [68]:
DFdata2 = pd.read_csv('clean_datatest.csv', header=0)
DFdata2

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,3/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,0.0
1,2,3/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,0.0
2,3,3/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,3/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,3/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
5,6,3/25/2021,Titos,Braybrooke,tbraybrooke5@umn.edu,Female,173.100.21.179,United States,$5.82,0.0
6,7,3/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,$6.29,0.0
7,8,3/8/2021,Codi,Feasley,cfeasley7@ed.gov,Male,26.190.191.249,France,$3.01,20.0
8,9,3/9/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,$3.70,20.0
9,10,3/23/2021,Guglielma,Gookes,ggookes9@amazon.co.uk,Male,169.100.6.0,France,$9.05,0.0
10,11,3/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,0.0
11,12,3/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,3/5/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,3/24/2021,Cull,Vassie,cvassied@unblog.fr,0.0,18.203.61.94,France,$5.97,20.0
14,15,3/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,$4.53,20.0
15,16,3/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,$4.10,20.0
16,17,3/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,$6.44,20.0
17,18,3/20/2021,Esta,Boulden,ebouldenh@posterous.com,0.0,220.109.140.190,United States,$3.16,20.0
18,19,3/16/2021,Judye,Behan,jbehani@google.es,Female,27.196.2.18,France,$4.90,20.0
19,20,3/1/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,$5.82,20.0
20,21,3/12/2021,Jeffrey,Stanman,jstanmank@latimes.com,Female,3.110.64.192,France,$5.55,20.0
21,22,3/5/2021,Mendie,Ayer,mayerl@squarespace.com,Male,166.97.124.52,Canada,$4.86,20.0
22,23,3/3/2021,Muriel,Pexton,mpextonm@bing.com,Male,113.10.187.192,Canada,$6.72,20.0
23,24,3/9/2021,Ermanno,Ghost,eghostn@webnode.com,Male,144.170.210.226,Canada,$9.79,0.0
24,25,3/2/2021,Tod,Willets,twilletso@artisteer.com,Male,101.42.146.88,Canada,$8.23,0.0
25,26,3/14/2021,Nobe,Stobbart,nstobbartp@php.net,Female,126.155.177.249,United States,$9.90,0.0
26,27,3/27/2021,Elyse,Glaysher,eglaysherq@mayoclinic.com,0.0,165.91.52.42,United States,$5.88,0.0
27,28,3/25/2021,Staford,London,slondonr@sphinn.com,Male,247.235.26.222,United States,$3.06,20.0
28,29,3/3/2021,Willabella,Robbins,wrobbinss@tinyurl.com,Female,129.71.210.8,0.0,$9.52,20.0
29,30,3/2/2021,Edi,Petru,epetrut@census.gov,Male,117.48.20.14,United States,$6.76,20.0

In [34]:
r=[0]
DFdata.loc[DFdata.index[r]]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,3/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN

In [69]:
import csv
import sys

database2= connect (host= 'localhost',
                   user= 'root',
                   password= 'ensulb99E**',
                   database = 'db22'
)

cur = database2.cursor()


data = csv.reader(open('clean_datatest.csv'))
header = next(data)

## Next query is executed once to create a table named csvtable in which we store our DF

#query = 'create table csvtable (id  int, date varchar(255), first_name varchar(255), last_name varchar(255), email varchar(255),\
#gender varchar(255), ip_address varchar(255), country  varchar(255), price_paid varchar(255), tax varchar(255))'
#cur.execute(query)

In [70]:
for row in data:
    print(row)
    cur.execute('insert into csvtable (id , date , first_name , last_name , email, gender , ip_address, country , price_paid, tax) \
    values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)', row)
database2.commit()

['1', '3/28/2021', 'Marylin', 'Alders', 'malders0@shop-pro.jp', 'Male', '160.119.8.119', 'Canada', '$5.36 ', '0.0']
['2', '3/19/2021', 'Hinda', 'Harridge', 'hharridge1@gnu.org', 'Female', '210.51.172.132', 'Canada', '$8.32 ', '0.0']
['3', '3/17/2021', 'Erl', 'Kilminster', 'ekilminster2@etsy.com', 'Male', '213.8.101.145', 'United States', '$3.73 ', '20.0']
['4', '3/19/2021', 'Grata', 'Brantl', 'gbrantl3@umn.edu', 'Female', '5.140.237.101', 'United States', '$3.70 ', '20.0']
['5', '3/24/2021', 'Kanya', 'Beasant', 'kbeasant4@jigsy.com', 'Male', '106.252.162.233', 'Morocco', '$9.24 ', '20.0']
['6', '3/25/2021', 'Titos', 'Braybrooke', 'tbraybrooke5@umn.edu', 'Female', '173.100.21.179', 'United States', '$5.82 ', '0.0']
['7', '3/14/2021', 'Ava', 'Kencott', 'akencott6@phoca.cz', 'Female', '118.251.45.43', 'Canada', '$6.29 ', '0.0']
['8', '3/8/2021', 'Codi', 'Feasley', 'cfeasley7@ed.gov', 'Male', '26.190.191.249', 'France', '$3.01 ', '20.0']
['9', '3/9/2021', 'Waylon', 'Heersema', 'wheersema8@tumblr.com', 'Male', '63.242.174.112', 'Canada', '$3.70 ', '20.0']
['10', '3/23/2021', 'Guglielma', 'Gookes', 'ggookes9@amazon.co.uk', 'Male', '169.100.6.0', 'France', '$9.05 ', '0.0']
['11', '3/11/2021', 'Lief', 'Woodcraft', 'lwoodcrafta@sitemeter.com', 'Male', '201.76.240.51', 'Canada', '$5.71 ', '0.0']
['12', '3/16/2021', 'Bailie', 'Wyman', 'bwymanb@lulu.com', 'Male', '222.60.138.222', 'United States', '$3.15 ', '20.0']
['13', '3/5/2021', 'Janice', 'Morillas', 'jmorillasc@miibeian.gov.cn', 'Female', '24.25.198.252', 'Canada', '$5.30 ', '20.0']
['14', '3/24/2021', 'Cull', 'Vassie', 'cvassied@unblog.fr', '0.0', '18.203.61.94', 'France', '$5.97 ', '20.0']
['15', '3/21/2021', 'Oralie', 'Maryon', 'omaryone@va.gov', 'Female', '215.248.16.198', 'United States', '$4.53 ', '20.0']
['16', '3/24/2021', 'Julina', 'Faint', 'jfaintf@amazon.co.jp', 'Female', '96.193.4.151', 'United States', '$4.10 ', '20.0']
['17', '3/27/2021', 'Eve', 'Allaway', 'eallawayg@ebay.co.uk', 'Female', '184.107.59.156', 'United States', '$6.44 ', '20.0']
['18', '3/20/2021', 'Esta', 'Boulden', 'ebouldenh@posterous.com', '0.0', '220.109.140.190', 'United States', '$3.16 ', '20.0']
['19', '3/16/2021', 'Judye', 'Behan', 'jbehani@google.es', 'Female', '27.196.2.18', 'France', '$4.90 ', '20.0']
['20', '3/1/2021', 'Sibeal', 'Mounch', 'smounchj@rakuten.co.jp', 'Male', '218.17.7.177', 'Canada', '$5.82 ', '20.0']
['21', '3/12/2021', 'Jeffrey', 'Stanman', 'jstanmank@latimes.com', 'Female', '3.110.64.192', 'France', '$5.55 ', '20.0']
['22', '3/5/2021', 'Mendie', 'Ayer', 'mayerl@squarespace.com', 'Male', '166.97.124.52', 'Canada', '$4.86 ', '20.0']
['23', '3/3/2021', 'Muriel', 'Pexton', 'mpextonm@bing.com', 'Male', '113.10.187.192', 'Canada', '$6.72 ', '20.0']
['24', '3/9/2021', 'Ermanno', 'Ghost', 'eghostn@webnode.com', 'Male', '144.170.210.226', 'Canada', '$9.79 ', '0.0']
['25', '3/2/2021', 'Tod', 'Willets', 'twilletso@artisteer.com', 'Male', '101.42.146.88', 'Canada', '$8.23 ', '0.0']
['26', '3/14/2021', 'Nobe', 'Stobbart', 'nstobbartp@php.net', 'Female', '126.155.177.249', 'United States', '$9.90 ', '0.0']
['27', '3/27/2021', 'Elyse', 'Glaysher', 'eglaysherq@mayoclinic.com', '0.0', '165.91.52.42', 'United States', '$5.88 ', '0.0']
['28', '3/25/2021', 'Staford', 'London', 'slondonr@sphinn.com', 'Male', '247.235.26.222', 'United States', '$3.06 ', '20.0']
['29', '3/3/2021', 'Willabella', 'Robbins', 'wrobbinss@tinyurl.com', 'Female', '129.71.210.8', '0.0', '$9.52 ', '20.0']
['30', '3/2/2021', 'Edi', 'Petru', 'epetrut@census.gov', 'Male', '117.48.20.14', 'United States', '$6.76 ', '20.0']

In [ ]:

cur.close()